/* ---GENERAL--- */
:root {
  --colour-primary: #304d6d;
  --colour-primary-dark: #1e3043;
  --colour-primary-light: #4e7fb4;
  --colour-secondary: #545e75;
  --colour-tertiary: #63adf2;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(var(--colour-tertiary), 0.3);
  min-height:100vh;
}

/* ---COMPONENTS--- */
.logo {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--colour-primary);
}

.logo-sub {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--colour-primary-light);
}

.button {
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button--primary {
  background-color: var(--colour-primary);
}

.button--tertiary {
  background-color: var(--colour-tertiary);
}

.button--search {
  border-radius: 0 5rem 5rem 0;
}

.search--input {
  border-radius: 5rem 0 0 5rem;
  transition: all 0.4s ease-in-out;
}

.search--input:focus::placeholder {
  opacity: 0;
}

.search--icon {
  transition: all 0.2s ease-in-out;
  transform: translateY(-2px) translateX(-2px);
}

.search--icon:hover {
  transform: translateY(-2px) scale(1.2);
}

.search--suggestions {
  background-color: #e0e0e0;
  width: 100%;
  transform: translateY(4rem);
  border-radius: 1rem;
  z-index: 100;
}

.pagination--active {
  background-color: var(--colour-tertiary);
  color: white;
}

.bg--shadow {
  box-shadow: 2px 2px 10px black;
}